/* .loader-wrapper {
    position: fixed;
    top: center;
    left: center;
    width: 50%;
    height: 50%;
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgba(255, 255, 255, 0.7);
  } */
/*   

  .spinner-border{
    position: fixed;
    top: center;
    left: center;
    width: 50%;
    height: 50%;
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgba(255, 255, 255, 0.7);
  } */