
.MuiOutlinedInput-notchedOutline legend {
    opacity: 0;
    visibility: collapse;
}

.MuiOutlinedInput-inputMultiline, .MuiOutlinedInput-inputMultiline:focus {
    box-shadow: none !important;
}

.MuiSlider-markLabel {
    font-size: .825em !important;
}

.font-3{
    font-size: 14px;
    font-weight: bold;
}