
.MuiOutlinedInput-notchedOutline legend {
    opacity: 0;
    visibility: collapse;
}

.MuiOutlinedInput-inputMultiline, .MuiOutlinedInput-inputMultiline:focus {
    box-shadow: none !important;
}

.MuiSlider-markLabel {
    font-size: .825em !important;
}

.labelss{
    font-weight:bold;
    font-size: 15px;
    font-family: Arial;
    margin-left: 10px !important;
}